// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-body{
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: blue;
}
